
.login-card {
  width: 400px;
  padding: 40px;
  border: 2px solid #008080; 
  border-radius: 30px;     
  background-color: white;
  margin: 50px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: 'Serif', Georgia, 'Times New Roman'; 
  font-size: 32px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
}


input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 25px; 
  box-sizing: border-box;
  outline: none;
}


input:focus {
  border-color: #008080;
}


.btn {
  width: 100%;
  padding: 12px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #006666;
}

.link-text {
  text-align: left;
  margin-top: 15px;
}

.link-text a {
  color: #008080;
  text-decoration: underline;
  font-size: 14px;
}